.form-container {
  border-radius: 14px;
}
form {
  .nameform {
  }
  .nameform-error {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    small {
      visibility: visible;
    }
  }
  .nameform-success {
    display: none;
    small {
      visibility: hidden;
    }
  }
  .passwordform {
    visibility: hidden;
    height: 0;
  }
  .passwordform-error {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    small {
      visibility: visible;
    }
  }
  .passwordform-success {
    display: none;
    small {
      visibility: hidden;
    }
  }
  small {
    color: red;
    visibility: hidden;
  }
  #previous {
    visibility: hidden;
  }
  #submit {
    visibility: hidden;
  }
  #congrats {
    font-weight: bold;
    color: green;
    visibility: hidden;
  }
}
